<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064064038380-gsu3v5k2s884bs6befsgg7lg8m9uv5tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064064038380-gsu3v5k2s884bs6befsgg7lg8m9uv5tj</string>
	<key>API_KEY</key>
	<string>AIzaSyBJtvLflxJj1htDelx67G70vp3nCBzG-zc</string>
	<key>GCM_SENDER_ID</key>
	<string>1064064038380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krishmittal.FriendsRai</string>
	<key>PROJECT_ID</key>
	<string>friendsrai-76997</string>
	<key>STORAGE_BUCKET</key>
	<string>friendsrai-76997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064064038380:ios:9b013f80e2049fc76b7cc9</string>
</dict>
</plist>